html, 
body {
    height: 100%;
    font-size: medium;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
}

table.data_view {
    font-family: "Cascadia Code", consolas, monospace;
}

table.data_view td.text {
    padding-left: 10px;
}

table.data_view td.offset {
    padding-right: 10px;
}

table.data_view td.highlight {
    background-color: lime;
}

table.tree {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    font-family: monospace
}

table.tree td {
    border: 1px solid black;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
}

tr.select {
    background-color: dodgerblue;
}
tr.cover {
    background-color: lightskyblue;
}

li {
    font-family: monospace;
    cursor: pointer;
    background-color: white;
}

li.highlight {
    background-color: lightskyblue;
}

ul {
    margin-top: 0;
    font-family: "Cascadia Code", consolas, monospace;
    list-style-type:none;
    background-color: white;
    padding-inline-start: 20px;
}

div.tree {
    vertical-align: top;
    padding: 10px 0px;
    overflow: scroll;
    min-width: 500px;
    border: 1px solid gray;
}

td.view {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

td.data {
    padding-left: 3px;
    padding-right: 3px;
}

span.interpreted {
    padding-left: 10px;
    color: blue
}

span.position {
    padding-left: 15px;
    padding-right: 15px;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }

.description {
    margin-top: 10px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    height: 200px;
    overflow:auto;
}