html, 
body {
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
}

div.main_ui {
    display: flex;
}

div.data_view {
    font-family: "Cascadia Code", consolas, monospace;
    border: 1px solid grey;
    display: flex;
    padding: 5px;
    margin-top: 10px;
}

div.data_view span.sel {
    border-color: black !important;
    box-shadow: 0 0 15px #FFFF00, inset 0 0 5px #FFC000;
    /*animation: selAnimation 1s linear infinite;*/
    z-index: 999;
}

@keyframes selAnimation {
    0%   { box-shadow: 0 0  1px #FFFF00, inset 0 0 5px #FFC000;  }
    50%  { box-shadow: 0 0 25px #FFC000, inset 0 0 5px #FFC000;  }
    100% { box-shadow: 0 0  1px #FFFF00, inset 0 0 5px #FFC000;  }
}

div.data_view span {
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
}

span.byte_hex {
    padding-right: 3px;
    padding-left: 3px;
}

div.hex {
    margin-left: 10px;
    margin-right: 10px;
}

div.text {
    margin-right: 10px;
}

table.tree {
    min-width: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table.tree td {
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

table.tree th {
    border: 1px solid black;
    background-color: antiquewhite;
}

table.tree td img {
    height: 1em;
    margin-right: 5px;
}

tr.select {
    background-color: rgb(205,232,255);
}
tr.cover > :nth-child(1){
    border-left: 2px solid hotpink;
}

.primary_value {
    font-weight: bold;
}

.secondary_value {
    color: grey;
    margin-left: 10px;
}

table.value_def {
    border: 1px solid darkgray;
    border-collapse: collapse;
}

table.value_def td,th {
    text-align: left;
    border: 1px solid darkgray;
    border-collapse: collapse;
    padding: 2px 10px 2px 10px;
}

table.settings {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table.settings td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

table.settings th {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    background-color: antiquewhite;
}

div.tree {
    vertical-align: top;
    overflow: auto;
    min-width: 500px;
    max-width: 1000px;
    height: 100%;
    border: 1px solid gray;
}

td.view {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

td.data {
    padding-left: 3px;
    padding-right: 3px;
}

span.interpreted {
    padding-left: 10px;
    color: blue
}

span.position {
    padding-left: 15px;
    padding-right: 15px;
}
 
.description {
    margin-top: 10px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    height: 200px;
    overflow:auto;
}

